@model IEnumerable<Ogrenci>
    <h2>Öğrenci listesi</h2>
    <hr>
    <a href="/ogrenci/create" class="btn btn-primary mb-3">Öğrenci Ekle</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m=>m.OgrenciId)</th>
                <th>@Html.DisplayNameFor(m=>m.OgrenciAd)</th>
                <th>@Html.DisplayNameFor(m=>m.OgrenciSoyad)</th>
                <th>@Html.DisplayNameFor(m=>m.Eposta)</th>
                <th>@Html.DisplayNameFor(m=>m.Telefon)</th>
                <th style="width: 150px;">Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var ogrenci in Model)
            {
            <tr>
                <td>@ogrenci.OgrenciId</td>
                <td>@ogrenci.OgrenciAd</td>
                <td>@ogrenci.OgrenciSoyad</td>
                <td>@ogrenci.Eposta</td>
                <td>@ogrenci.Telefon</td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@ogrenci.OgrenciId"
                        class="btn btn-sm btn-primary">Edit</a>
                    <a sp-controller="Ogrenci" asp-action="Delete" asp-route-id="@ogrenci.OgrenciId"
                        class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>